
#header::before {

    background-size: cover;
    background-image: url(./icon.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 29px; 
    height: 30px;
    content:"";
    margin-bottom: -2px;
    margin-right: 2px;
}

#header, #form_header {
    font-weight: 600;
    font-size: 30px;
}

#header {
    text-align: center;
}

#header_link {
    text-decoration: none;
}

#content {
    position: relative;
}

#sign_up {
    font-size: 13px;
    text-align: right;
    line-height: 32px;
}

#join_link {
    color: #2484DC;
    text-decoration: none;
}

#join_link:hover {
    text-decoration: underline;
}

#content {
    width: 80vw;
    margin-left: calc((100vw - 80vw) / 2);
}

@media (min-width:320px) {
    

}

@media (min-width:641px) {
    #content {
        width: 60vw;
        margin-left: calc((100vw - 60vw) / 2);
    }

}

@media (min-width:961px) {
    #content {
        width: 39.31vw;
        top: 7.5vh;
        margin-left: calc((100vw - 39.31vw) / 2);
    }

    #header {
        margin-bottom: 7.5vh;
    }

}

@media (min-width:1450px) {
    #content {
        width: 570px;
        top: 60px;
        margin-left: calc((100vw - 570px) / 2);
    }

    #header {
        margin-bottom: 60px;
    }

}