
#container {
    
}

#content {
    position: relative;
    padding-bottom: 100px;
    width: 90vw;
    left: 5vw;
}

#main_content {
    text-align: center;
    width: 85%;
    position: relative;
    left: 7.5%;
}

#logo, #header {
    font-weight: 600;
    font-size: calc(6.5px + 3.05vw);
}

#logo::before {

    background-size: cover;
    background-image: url(./icon.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: calc(6.5px + 3.05vw);
    height: calc(6.75px + 3.17vw);
    content:"";
    margin-bottom: calc(-0.75px - (225vw) / 641);
    margin-right: calc(1.75px + (525vw) / 641);
}

#logo {
    line-height: calc(13px + 6.1vw);
}

#header {
    margin-top: 16.5vh;
}

#note {
    color: #7C7C7C;
    font-size: calc(4.75px + 2.22vw);
}



@media (min-width:641px) {
    #logo, #header {
        font-size: 26px;
    }

    #logo {
        line-height: 52px;
    }

    #note {
        font-size: 19px;
    }

    #logo::before {
        width: 26px; 
        height: 27px;
        margin-bottom: -3px;
        margin-right: 7px;
    }
}
@media (min-width:1450px) {
    #content {
        width: 1300px;
        left: calc((100vw - 1300px) / 2);
    }

    #header {
        margin-top: 125px;
    }
    
}