.title::before {

    background-size: cover;
    background-image: url(./icon.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px; 
    height: 26px;
    content:"";
    margin-bottom: -3px;
    margin-right: 7px;
}
