
.photo_container {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}
.photo {
    width: 36.52%;
    height: auto;
    left: 31.74%;

}

.name {
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    overflow-wrap: break-word;
    padding-left: 20px;
    padding-right: 20px;
}

.divider {
    background-color: #CACACA;
    height: 1px;
    width: 50%;
    border: none;
    margin-bottom: 10px;
}

.info_container {
    padding: 0 15px;
    margin-bottom: 20px;
    min-height: 56px;
}

.info {
    font-weight: 600;
    color: black;
}

.info_header{
    color: #646363;
}

.support_left {
    float: left;
    width: calc(50% - 0.85px);
    
}

.support_right {
    float: right;
    width: calc(50% - 0.85px);
    border-left: 1.7px solid #C4C4C4;
}

.support_left, .support_right {
    border-top: 1.7px solid #C4C4C4;
}

.support_main {
    text-align: center;
    font-weight: 500;
}

.support_main > p:first-of-type {
    margin-bottom: 2px;
}

.support_main > p:last-of-type {
    color: #646363;
    margin-top: 2px;
    margin-left: 5%;
    margin-right: 5%;
}

.support_amount {
    color: #020202;
}

.support_duration {
    color: #BA0000;
}

.info, .support_text {
    font-size: calc(7.5px + 0.468vw);
}

.support_amount, .support_duration {
    font-size: calc(9px + 0.5616vw);
}

@media (min-width:961px) {
    .info, .support_text {
        font-size: calc(7px + 0.2vw);
    }

    .support_amount, .support_duration {
        font-size: calc(8.4px + 0.24vw);
    }
}

@media (min-width:1450px) {
    .info, .support_text {
        font-size: 10px;
    }
    
    .support_amount, .support_duration {
        font-size: 12px;
    }
}